@font-face {
    font-family: "WINDOWS";
    src: url("REFSAN.ttf") format("truetype");
}

body {
  font-family: "WINDOWS";
  //background: url("http://img06.deviantart.net/d486/i/2013/035/6/4/windows_98_by_sbloom85-d5tuz6r.png") no-repeat center center fixed; 
  //background-size: cover;
  background: #008181;
  color: white;
}

.main {
  // background: red;
  margin: 25 auto; 
  overflow: hidden;
  height: 85%;
  width: 85%;
  border: 10px solid black;
  display: none //hides EVERYTHING!
}

.toggleBar {
  // background: grey;
  width: 4.8%;
  height: 85%;
  border: 1px solid black;
  display: inline-block;
}
//todo -- two step animation where bar expands over length of nav then collapses with nav

.navBar {
  // background: yellow;
  width: 15%;
  height: 85%;
  float: left;
  animation: showNav 1s
}

.navBarHidden {
  width: 0%;
  animation: hideNav 1s
}

@keyframes showNav {
  from {
    width: 0%
  }
  to {
    width: 15%
  }
}

@keyframes hideNav {
  from {
    width: 15%
  }
  to {
    width: 0%
  }
}

//todo --make navbar hideable
//hide nav buttons first
//resize width to 0% and content to 100%

.navButton {
  // background: red;
  height: 25%;
  //border: 20px solid blue;
  //display: none; //make this on click
}

.content {
  // background: lime;
  width: 80%;
  height: 85%;
  overflow: scroll;
  float: right;
  animation: showContent 1s
}

.contentHidden {
  width: 95%;
  animation: hideContent 1s
}

//todo-- add a contentDefault class and a navBarDefault class without animations

@keyframes showContent {
  from {
    width: 95%
  }
  to {
    width: 80%
  }
}

@keyframes hideContent {
  from {
    width: 80%
  }
  to {
    width: 95%
  }
}

.pageTitle {
  width: 800px;
  margin: auto;
}

.project {
  margin: auto;
  text-align: left;
  animation: slideIn 1.5s
}

.projectWrapper {
  // background: blue;
  height: 500px;
  width: 800px; //todo --definite pixels, not percentages. even for mobile.
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid black;
}

@keyframes slideIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.projectThumb {
  display: inline-block;
  vertical-align: top;
  // background: purple;
  width: 50%;
  height: 70%
}

.projectText {
  display: inline-block;
  vertical-align: top;
  // background: pink;
  width: 50%;
  height: 70%
}

.projectHeader {
  width: 100%;
  display: block
}

.visible {
  opacity: 1;
  animation: show 1s
}

.hidden {
  opacity: 0;
  animation: hide 1s;
}

@keyframes show {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes hide {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

// .diagonal {
//   position: relative;
//   color: black;
//   //border: 20px solid transparent;
//   height: 33%;
//   overflow: hidden;
//   text-align: center;
//   z-index: 1;
// }

.diagonal {
  // background: white;
  height: 33%;
  border: 1px solid black;
  // margin-top: 20px;
  // margin-bottom: 20px
}

// .diagonal:after {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 0;
//   width: 500%;
//   height: 500%;
//   background: white;
//   z-index: -1;
//   transform-origin: 0% 0%;
//   transform: translateX(-15%) translateY(10%) rotate(-45deg);
//   transition: ease .4s;
// }
// .diagonal:hover::after {
//   transform: translateY(10%) translateX(20%) rotate(-45deg);
// }

// .diagonalText {
//   margin: auto;
// }