body {
  font-family: sans-serif;
  background: grey;
}

.main {
  background: red;
  margin: 25 auto; 
  overflow: hidden;
  height: 85%;
  width: 85%;
  border: 20px solid black;
}

.navBar {
  background: yellow;
  width: 20%;
  height: 85%;
  float: left;
  animation: showNav 1s
}

.navBarHidden {
  width: 0%;
  animation: hideNav 1s
}

@keyframes showNav {
  from {
    width: 0%
  }
  to {
    width: 20%
  }
}

@keyframes hideNav {
  from {
    width: 20%
  }
  to {
    width: 0%
  }
}

//todo --make navbar hideable
//hide nav buttons first
//resize width to 0% and content to 100%

.navButton {
  background: red;
  height: 25%;
  border: 20px solid blue;
  display: none; //make this on click
}

.content {
  background: lime;
  width: 80%;
  height: 85%;
  overflow: scroll;
  float: right;
  animation: showContent 1s
}

@keyframes showContent {
  from {
    width: 100%
  }
  to {
    width: 80%
  }
}

@keyframes hideContent {
  from {
    width: 80%
  }
  to {
    width: 100%
  }
}

.project {
  margin: auto;
  animation: slideIn 1.5s
}

.projectWrapper {
  background: blue;
  height: 500px;
  overflow: hidden;
  border: 20px solid black;
}

@keyframes slideIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.projectThumb {
  float: right;
  background: purple;
  border: 20px solid black;
  width: 50%;
  height: 70%
}

.projectText {
  float: left;
  background: pink;
  border: 20px solid black;
  width: 40%;
  height: 70%
}

.visible {
  opacity: 1;
  animation: show 1s
}

.hidden {
  opacity: 0;
  animation: hide 1s;
}

@keyframes show {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes hide {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

.diagonal {
  position: relative;
  color: black;
  border: 20px solid black;
  height: 25%;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}
.diagonal:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 500%;
  height: 500%;
  background: white;
  z-index: -1;
  transform-origin: 0% 0%;
  transform: translateX(-15%) translateY(10%) rotate(-45deg);
  transition: ease .4s;
}
.diagonal:hover::after {
  transform: translateY(10%) translateX(20%) rotate(-45deg);
}

.diagonalText {
  margin: 25% auto
}