body {
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #008181;
  // z-index: -4;
}

.menu {
  position: absolute;
  width: 91%;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.menu-left {
  height: 28px;
  width: 192px;
  margin-top: -28px;
  background-image: url("./images/menu_left.png");
  z-index: 2
}

.menu-right {
  width: 115px;
  height: 28px;
  margin-top: -28px;
  margin-left: 100%;
  background-image: url("./images/menu_right.png");
  z-index: 2
}

.menu-center {
  width: 100%;
  height: 28px;
  background-image: url("./images/menu_repeat.png");
  z-index: -1
}

.portfolio {
  position: absolute;
  top: 10px;
  left: 200px;
  width: 865px;
  height: 551px;
  background-image: url("./images/portfolio_display.png");
  z-index: 3
}

.my-portfolio{
  width: 90px;
  height: 90px;
  background-image: url("./images/my_portfolio.png");
}

.my-portfolio-selected {
  background-image: url("./images/my_portfolio_selected.png");
}

.about-me{
  width: 90px;
  height: 90px;
  background-image: url("./images/about_me.png");
}

.about-me-selected {
  background-image: url("./images/about_me_selected.png");
}

.alike-me-folder {
  position: absolute;
  width: 118px;
  height: 18px;
  top: 218px;
  left: 34px;
  background-image: url("./images/alike_me_folder.png");
  z-index: 4;
}

.alike-me-folder-selected {
  background-image: url("./images/alike_me_folder_selected.png");
}

.songspace-folder {
  position: absolute;
  width: 128px;
  height: 18px;
  top: 236px;
  left: 34px;
  background-image: url("./images/songspace_folder.png");
  z-index: 4;
}

.songspace-folder-selected {
  background-image: url("./images/songspace_folder_selected.png");
}

.portfolio-content {
  position: absolute;
  overflow: scroll;
  top: 115px;
  left: 205px;
  height: 407px;
  width: 654px;
  border: 2px solid black;
}
